
<div class="column" id="left">
<% @tracks.each do |track| %>

    <h3><%= link_to track.title, track %></h3>
    <p>SRC: <%= track.track_file %></p><br> 
      <% if track.artist %>
        <p><%= track.artist %><p>
      <% else%>
        <p>Sorry, we couldn't retrieve that Artist's name</p>
        <% end %>
    <audio controls="" name="media">
      <source src="<%=track.track_file.url %>" type="audio/mpeg">
    </audio><br>
    <p><%= link_to 'Edit', edit_track_path(track) %></p>
    

<% end %>
</div>

<div class="column" id="right">
  <div id="random-article">
    <h3> Random Article <br><%= @random.title%> </h3>
    <p> <%= @random.body%></p>
  </div>
</div>



<%= link_to 'New Track', new_track_path %>
