<!DOCTYPE html>
<html>
<head>
  <title>Wikisearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<ul id="navstuff">
			<li> Home </li> |
			<li> Search </li> |
			<li> About </li> |
			<li> Contact </li> |
		</ul>
	</header>
	<div id="notices">	
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

<%= yield %>

</body>
</html>
